@import url(../../vendor/normalize.css);
@import url(../../vendor/fonts.css);
@import url(../../blocks/page/page.css);
@import url(../../blocks/content/content.css);
@import url(../../blocks/common/common.css);
@import url(../../blocks/header/header.css);
@import url(../../blocks/results/results.css);
@import url(../../blocks/customers/customers.css);
@import url(../../blocks/technology/technology.css);
@import url(../../blocks/about/about.css);
@import url(../../blocks/slider/slider.css);

.page {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
}



.swiper-button-prev {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  margin: 0;
  color:black;
  background-image: url(../../images/slider-prev.svg);
}

.swiper-button-prev::after {
  content: none;
}

.swiper-button-next {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  margin: 0;
  color:black;
  background-image: url(../../images/slider-next.svg);
}

.swiper-button-next::after {
  content: none;
}