<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>News Explorer</title>
  <meta name="author" content="Vladimir Bulanyi">
  <meta name="description" content="Diploma project">
  <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.about.css %>">
  <link rel="icon" href="../<%= require('../../images/favicon.png')%>" type="image/png">
</head>

<body>
  <div class="page">
    <header class="header header_white">
      <nav class="menu">
        <a class="menu__logo menu__logo_black" href="../">NewsExplorer</a>
        <div class="menu__mobile menu__mobile_black" id="mobile-menu"></div>
        <ul class="menu__column-links">
          <li class="menu__item"><a class="menu__column-link menu__colunm-link_black" href="../">Главная</a></li>
          <li class="menu__item menu__item_active"><a class="menu__column-link menu__colunm-link_grey"
              href="../about/">О проектке</a></li>
          <li class="menu__item"><a class="menu__column-link menu__colunm-link_black" href="../news/">Сохранённые
              статьи</a></li>
          <li class="menu__item"><a
              class="menu__column-link menu__colunm-link_black menu__link-auth menu__link-auth_black" href="#">Грета<img
                class="menu__logout-icon" src="../<%= require('../../images/logout.svg')%>" alt="logout button">
            </a></li>
        </ul>
      </nav>
    </header>
    <main class="customers">
      <h2 class="customers__title">Клиентам</h2>
      <div class="customers__text">
        <p class="customers__text-item">Этот сайт — дипломный проект студента Яндекс.Практикума. Его цель —
          показать,
          чему научился студент, какими технологиями владеет.</p>
        <p class="customers__text-item">Вёрстка сайта выполнена по методологии БЭМ. Это делает сайт гибким и
          масштабируемым. Кроме того, добавлять новые страницы и функциональность проще и быстрее, чем в проектах,
          выполненных по другим методологиям. Также сайт проще и дешевле поддерживать.</p>
        <p class="customers__text-item">Студент самостоятельно написал серверный код. В нём реализована
          функциональность регистрации и входа в систему. Сайт позволяет искать новости за прошедшую неделю и
          сохранять
          понравившиеся в личном кабинете. На сервере избранные новости хранятся в базе данных Mongo DB. Студент
          запрограммировал надёжный сервер: отказоустойчивый и безопасный.</p>
        <p class="customers__text-item">При создании проекта была использована сборка технологией Webpack. Это
          современный подход к разработке сайтов. Код оптимизируется, а значит, сайт работает быстрее. Также сайт
          работает в старых браузерах. Даже если посетители — пользователи старых операционных систем, у них не будет
          проблем с отображением. А значит, потенциальная аудитория возрастает.</p>
        <p class="customers__text-item">Проект был проверен экспертами Яндекс.Практикума. Если вашему бизнесу нужен
          сайт, мы рекомендуем обратиться к этому студенту.</p>
      </div>
    </main>
    <section class="technology">
      <div class="technology__wrapper">
        <h2 class="technology__title">Используемые технологии</h2>
        <div class="technology__container">
          <div class="technology__item">
            <img class="technology__item-logo" src="../<%= require('../../images/html.svg')%>" alt="">
          </div>
          <div class="technology__item">
            <img class="technology__item-logo" src="../<%= require('../../images/css.svg')%>" alt="">
          </div>
          <div class="technology__item">
            <img class="technology__item-logo" src="../<%= require('../../images/js.svg')%>" alt="">
          </div>
          <div class="technology__item">
            <img class="technology__item-logo" src="../<%= require('../../images/webpack.svg')%>" alt="">
          </div>
        </div>
      </div>
    </section>
    <section class="about">
      <div class="about__wrapper">
        <div class="about__photo">
        </div>
        <div class="about__content">
          <h2 class="about__title">Об авторе</h2>
          <p class="about__text">Это блок с описанием автора проекта. Здесь следует указать, как вас зовут, чем вы
            занимаетесь, какими технологиями разработки владеете.</p>
            <p class="about__text">
            Также можно рассказать о процессе обучения в Практикуме, чему вы тут научились, и чем можете помочь
            потенциальным заказчикам.</p>
        </div>
      </div>
    </section>
    <section class="slider">
      <div class="slider__title-container">
        <h2 class="slider__title">История коммитов из GitHub</h2>
        <a class="slider__git-link" href="https://github.com/VBulanyi/">Открыть в Github &gt;</a>
      </div>
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <span class="slider__date">14 августа, 2019</span>
            <div class="slider__author">
              <img class="slider__photo" src="../<%= require('../../images/image-01.jpg')%>" alt="фото">
              <div class="slider__author-box">
                <h3 class="slider__auther-name">Антон Долинин</h3>
                <span class="slider__auther-email">anton@yandex.ru</span>
              </div>
            </div>
            <p class="slider__text">Emmet (formerly Zen Coding) is a web-
              developer’s toolkit that can greatly improve your HTML & CSS workflow.</p>
          </div>
          <div class="swiper-slide">
            <span class="slider__date">14 августа, 2019</span>
            <div class="slider__author">
              <img class="slider__photo" src="../<%= require('../../images/image-01.jpg')%>" alt="фото">
              <div class="slider__author-box">
                <h3 class="slider__auther-name">Антон Долинин</h3>
                <span class="slider__auther-email">anton@yandex.ru</span>
              </div>
            </div>
            <p class="slider__text">Emmet (formerly Zen Coding) is a web-
              developer’s toolkit that can greatly improve your HTML & CSS workflow.</p>
          </div>
          <div class="swiper-slide">
            <span class="slider__date">14 августа, 2019</span>
            <div class="slider__author">
              <img class="slider__photo" src="../<%= require('../../images/image-01.jpg')%>" alt="фото">
              <div class="slider__author-box">
                <h3 class="slider__auther-name">Антон Долинин</h3>
                <span class="slider__auther-email">anton@yandex.ru</span>
              </div>
            </div>
            <p class="slider__text">Emmet (formerly Zen Coding) is a web-
              developer’s toolkit that can greatly improve your HTML & CSS workflow.</p>
          </div>
          <div class="swiper-slide">
            <span class="slider__date">14 августа, 2019</span>
            <div class="slider__author">
              <img class="slider__photo" src="../<%= require('../../images/image-01.jpg')%>" alt="фото">
              <div class="slider__author-box">
                <h3 class="slider__auther-name">Антон Долинин</h3>
                <span class="slider__auther-email">anton@yandex.ru</span>
              </div>
            </div>
            <p class="slider__text">Emmet (formerly Zen Coding) is a web-
              developer’s toolkit that can greatly improve your HTML & CSS workflow.</p>
          </div>
          <div class="swiper-slide">
            <span class="slider__date">14 августа, 2019</span>
            <div class="slider__author">
              <img class="slider__photo" src="../<%= require('../../images/image-01.jpg')%>" alt="фото">
              <div class="slider__author-box">
                <h3 class="slider__auther-name">Антон Долинин</h3>
                <span class="slider__auther-email">anton@yandex.ru</span>
              </div>
            </div>
            <p class="slider__text">Emmet (formerly Zen Coding) is a web-
              developer’s toolkit that can greatly improve your HTML & CSS workflow.</p>
          </div>
          <div class="swiper-slide">
            <span class="slider__date">14 августа, 2019</span>
            <div class="slider__author">
              <img class="slider__photo" src="../<%= require('../../images/image-01.jpg')%>" alt="фото">
              <div class="slider__author-box">
                <h3 class="slider__auther-name">Антон Долинин</h3>
                <span class="slider__auther-email">anton@yandex.ru</span>
              </div>
            </div>
            <p class="slider__text">Emmet (formerly Zen Coding) is a web-
              developer’s toolkit that can greatly improve your HTML & CSS workflow.</p>
          </div>>
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <a class="slider__git-link_mobile menu__link-auth   " href="https://github.com/VBulanyi/">Открыть в Github</a>
    </section>
    <footer class="footer">
      <p class="footer__copyright footer__copyright_grey">&copy; 2019. Владимир Буланый</p>
      <nav>
        <ul class="footer__menu">
          <li class="footer__menu-link"><a href="../">Главная</a></li>
          <li class="footer__menu-link"><a href="../about">О проектке</a></li>
          <li class="footer__menu-link"><a href="https://praktikum.yandex.ru">Яндекс.Практикум</a></li>
        </ul>
      </nav>
      <div class="footer__social">
        <a class="footer__social-link" href="https://github.com/VBulanyi/">
          <img src="../<%= require('../../images/git.svg')%>" alt="GitHub Logo">
        </a>
        <a class="footer__social-link" href="https://facebook.com">
          <img src="../<%= require('../../images/facebook.svg')%>" alt="Facebook Logo">
        </a>
      </div>
    </footer>
    <script src="<%= htmlWebpackPlugin.files.chunks.about.entry %>"></script>
  </div>
</body>
</html>