@import url(./__content/about__content.css);
@import url(./__photo/about__photo.css);
@import url(./__wrapper/about__wrapper.css);
@import url(./__img/about__img.css);

.about {
  display: flex;
  max-height: 624px;
  background-color: #fff;
}

@media screen and (max-width: 767px) {
  .about {
    max-height: none;
    }
  }

