.results__main-container {
  display: block;
  justify-content: space-around;
  margin: 80px 104px;
}

@media screen and (max-width: 1023px) {
  .results__main-container {
    margin: 40px 40px;
  }
}

@media screen and (max-width: 767px) {
  .results__main-container {
    margin: 16px 16px;
  }
}