.menu__link-auth-container {
  display: flex;
  margin-right: 0px;
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 15px;
}

@media screen and (max-width: 1023px) {
  .menu__link-auth-container {
    padding: 6px;
  }
}

.menu__link-auth-container_black {
  border: 1px solid #1a1b22;
}