.header__input {
background: #FFFFFF;
width: 100%;
border: 0;
box-sizing: border-box;
backdrop-filter: blur(8px);
border-radius: 100px;
padding-bottom: 21px;
padding-top: 21px;
padding-left: 24px;
}

@media screen and (max-width: 767px) {
  .header__input {
    margin-bottom: 16px;
    }
  }


.header__input:invalid:not(:placeholder-shown) + .popup__err {
	display: block;
}